# This file is just to show syntax and added many comment + space anywhere it's supported
[General]
# Verbosity of coverage
VERBOSITY = warning

# Format of saved coverage
EXPORT_FORMAT=nativeV2 

# Valid path to code for coverage
 [ CodePath ] 
D:\MyCode\Path

# Exclude all files where path is matching with at least a following regexp
[ExcludeFile]
moc_
ui_
qrc_
compiler internal