[General]
# Verbosity of coverage
VERBOSITY = warning

# Format of saved coverage
EXPORT_FORMAT=nativeV2 

# Exclude all files where path is matching with at least a following regexp
[ExcludeFile]
moc_
ui_
qrc_
compiler internal